<div class="page">

<h2>Match #{{ id }}: {{ created_at }}</h2>

<h3>Winner: {{ stats.winner }}</h3>


{% for name,players in teams %}
    <h3>{{ name }}</h3>

    <table class="stats" style="width: 100%">
    <tbody>
    {% for player_name,player in players %}
    <tr>
        <td class="avatar-tiny"><img src="{{base_url}}avatar.php?u={{player_name|url_encode}}&s=small" alt="" /></td>
        <td style="width: 50%"><a href="u/{{player_name}}">{{ player_name }}</a></td>
        <td><em>{{ player.class }}</em></td>
        <td>{{ player.kills }}/{{ player.deaths }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endfor %}



<br class="clear" />
</div>