<div class="page">

<h2>{{ name }}</h2>

<p>This stat has occurred {{times|number_format}} times.</p>

<br />

<table class="stats">
<tbody>
{% for user in results %}
<tr onclick="location.href='u/{{ user.user|url_encode }}';">
    <td class="avatar-tiny"><img src="{{base_url}}avatar.php?u={{user.user|url_encode}}&s=small" alt="" /></td>
    <td class="name" style="width: 40%"><a href="u/{{ user.user|url_encode }}">{{ user.user }}</a></td>
    <td class="score">{{user.times|number_format}} times</td>
</tr>
{% endfor %}
</tbody>
</table>

<br class="clear" />
</div>