<h2>Match History</h2>

<p>Played in {{total}} of {{all_total}} Gather matches. Currently only most recent 20 matches are shown.</p><br />

Page:
{% for page in radius(currentPage,3,totalPages) %}
  <a onclick="try { $('#ui-tabs-4').load('{{base_url}}user/matches.php?u={{username}}&page={{ page }}');} catch (e) { console.log(e); } return false;">{{ page }}</a>
  {{ loop.last ? '' : ' | ' }}
{% endfor %}

<table class="stats">
<thead>
<tr>
    <th>ID</th>
    <th>Time</th>
    <th>Class</th>
    <th>K/D</th>
    <th>Result</th>
</tr>
</thead>
<tbody>
{% for match in matches %}
<tr onclick="try { $.colorbox({href:'match/{{match.id}}?m=1'}); }catch (e) { console.log(e); } return false;">
    <td>#{{ match.id }}</td>
    <td style="width: 50%"><a><em>{{ match.created_at }}</em></a></td>
    <td>{{ match.cls}}</td>
    <td class="kd">{{ match.kills // 1 }}/{{ match.deaths // 1 }}</td>
    <td class="match-win">{{ match.won ? "Won" : "Lost"}}</td>
</tr>
{% endfor %}
</tbody>
</table>

Page:
{% for page in radius(currentPage,3,totalPages) %}
  <a onclick="try { $('#ui-tabs-4').load('{{base_url}}user/matches.php?u={{username}}&page={{ page }}');} catch (e) { console.log(e); } return false;">{{ page }}</a>
  {{ loop.last ? '' : ' | ' }}
{% endfor %}