<!doctype html>
<html lang="en">
<head>
    <title>KAG Gather</title>
    <base href="{{ top_url }}" />

    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="English">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="kag2d.com, kag2d, kag, KAG, king, arthur, arthurs, arthur's, gold, indie, play, play4free, game, gather, clan, war, match, clanwar, clanwars, war, klan, pro, best, good, top, public, 2011, 2012, 2013, new, games, free, premium, freemium, strategy, action, archer, archery, knight, knights, build, destroy, enemy, enemies, builder, minecraft, age of empires, terraria, 2d, side, scrolling, sidescrolling, pixel, modding, mod, zombies, zombie, mode, bomb, bombs, bow, bows, arrow, arrows, sword, swords, shield, shields, tower, defend, defence, attack, gather, material, old, school, oldschool, alpha, beta, full, version, awsome, awesome, irc, mirc, hexchat, quakenet, kag.gather, #kag.gather, chat, forum, social, group, team, teams, red, vs, blue, custom, customize, customizeable, moddable, server, europe, eu, australia, aus, usa, north, south, west, east, america, international">
    <meta name="description" content="KAG Gather is related project, spin-off of original Soldat Gather, and a place for people to play organized CTF games.">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui-1.10.3.custom.min.css">
    <link rel="shortcut icon" href="images/favicon.ico">
    <script src="js/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="js/site.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/responsiveslides.min.js"></script>
</head>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>

<div id="header">
  <h1><img src="images/kagbanner.png" width="800" height="148"></h1>
</div>

<div id="wrap">
  <div id="content">
    <div id="ribbon">
        <nav role="navigation">

        <ul>
    	 <li><a href="{{ base_href }}">home</a></li>
    	 <li><a href="chat.html">play</a></li>
    	 <li><a href="rules.html">rules</a></li>
    	 <li><a href="https://forum.kag2d.com/social-forums/kag-gather.545/">forum</a></li>
    	 <li><a href="faq.html">faq</a></li>
    	 <li><a href="stats.html">stats</a>
    	    <ul>
    	        <li><a href="stats.html">user rankings</a></li>
    	        <li><a href="clans.html">clan rankings</a></li>
    	        <li><a href="achievements.html">achievements</a></li>
    	        <li><a href="matches.html">match archives</a></li>
    	        <li><a href="queue.html">current queue</a></li>
            </ul>
    	 </li>
    	 </ul>
    	 </nav>
    	 <!--
    	 <a href="{{ base_href }}"><img src="images/menu/home1.png" onMouseOver="this.src='images/menu/home1hover.png'" onMouseOut="this.src='images/menu/home1.png'"></a>
         <a href="chat.html"><img src="images/menu/play2.png" onMouseOver="this.src='images/menu/play2hover.png'" onMouseOut="this.src='images/menu/play2.png'"></a>
         <a href="rules.html"><img src="images/menu/rules3.png" onMouseOver="this.src='images/menu/rules3hover.png'" onMouseOut="this.src='images/menu/rules3.png'"></a>
         <a href="https://forum.kag2d.com/social-forums/kag-gather.545/"><img src="images/menu/forum4.png" onMouseOver="this.src='images/menu/forum4hover.png'" onMouseOut="this.src='images/menu/forum4.png'"></a>
         <a href="faq.html"><img src="images/menu/faq.png" onMouseOver="this.src='images/menu/faqhover.png'" onMouseOut="this.src='images/menu/faq.png'"></a>
         <a href="stats.html"><img src="images/menu/stats.png" onMouseOver="this.src='images/menu/statshover.png'" onMouseOut="this.src='images/menu/stats.png'"></a>
         -->
   </div>

