
    <script type="text/javascript" src="js/nrc.js"></script>
	<div class"commands"> <center>
    KAG Gather requires full version of the game. You can purchase it <a href="https://kag2d.com/en/buy" title="Buy Premium" target="_blank"><strong>here</strong></a>.
    </center>
    </div>
    <div class="chat">
    <div id="border1"><iframe src="http://webchat.quakenet.org/?channels=kag.gather&uio=d4" width="750" height="550"></iframe></div>


      <div style="clear: both;"></div>
    </div>

   <div style="clear: both;"> </div>
