
<div class="page">
<center><h2>Gather Clan Rankings</h2></center>
<br />
<p>Ranks are based on a complex algorithm involving wins, losses, kills, deaths and play time. Your clan will not be ranked until it has at least 5 gather matches logged.</p>

<br />
<p>You may click on a name to view more detailed stats. Click on a specific stat to view rankings for that stat.</p>
<br />

<table class="stats rankings">
<tbody>
{% for idx,rank in ranks %}
{% for u in rank.clans %}
<tr onclick="location.href='clan/{{ u.name|url_encode }}';">
    <td class="rank">#{{idx + 1}}</td>
    <td class="name"><a href="clan/{{ u.name|url_encode }}">{{ u.name }}</a></td>
    <td class="score">{{rank.score}}</td>
</tr>
{% endfor %}
{% endfor %}
</tbody>
</table>

</div>