

<div class="page">
<center><h2>FAQ</h2></center>

<dt>What is Gather?</dt>
<dd>Gather is a KAG related project, spin-off of original Soldat Gather, and a place for people to play organized CTF games.</dd>

<dt>How to join Gather?</dt>
<dd>To play gather, you need to use IRC and join #kag.gather on Quaknet which is gather's official channel. You need to auth your nick before you can join though, and it is highly recommended to use IRC client. So if you are new to IRC and Quakenet, read Kagesha's short IRC tutorial and How to AUTH your nickname on Quakenet and you should be set.</dd>

<dt>Why play Gather?</dt>
<dd>Well, I'd say there are plenty of reasons! First of all, it's a great way to get better as there are few of the community's skilled players. Of course there are a lot of players of different skill levels so you don't need to worry that you aren't good enough for gather as everyone is welcomed to play. Secondly, in gathers you don't need to worry about teams having unbalanced amount of players or players leaving and joining in middle of game. Naturally we have some rules too but more about that later. Gather is also a great way get to know the clan community and find an active clan or just to get to know new people and tie up more KAG community.</dd>

<dt>So how does it work, exactly?</dt>
<dd>The gather is incredibly easy to understand and use. You simply need to join the channel and use !add (joins a gather queue) command to get a game going. Games are 5v5 CTF with Arthurian League ruleset (to find our more on rules, go to the rules thread!). Once the gather bot is full, it will randomize teams and query you with a message with server information (IP/Port/Password). You will play a match best of 3 maps. The most important rule to know and remember is that you are not allowed to leave before the game is over. If you join one, finish it. If you know you don't have time to play a full one, then don't add.</dd>

<dt>What happens when Gather is ready?</dt>
<dd>After you've joined the server the match doesn't start immediately. First every team has to decide which player is going to play with what class, maybe discuss the tactics, etc. After usually around three to five minutes boths teams make sure they are ready and the map gets restarted. Now it's 'official'. After every map the same occurs: First preparations (switching the classes for example), then the match. In short: You restart to make a map official. (Of course there can be multiple restarts if a player has some difficulties at map restart.)</dd>

<dt>Where are the servers located?</dt>
<dd>Currently we have 2 servers located in France provided by Downburst, one server in North America, on East Coast provided by The Blue Pill and one server in Australia provided by lavalord &amp; kaizokuroof.</dd>

<dt>How active is Gather?<dt>
<dd>You'll most definitely get to play KAG if you are interested in playing gather! It's visited by the most skilled community members from Europe, America and Australia. Although consider this stage as late alpha/early beta.</dd>

<h3>IRC Commands</h3>

<p>Here are some of the most important commands on IRC channel you should know:</p>
<ul>
    <li>!help - Displays some basic help information to get you started, including with AUTH.</li>
    <li>!authed? - Displays whether or not you are authed to IRC.</li>
    <li>!add - adds yourself to queue.</li>
    <li>!rem - removes yourself from queue.</li>
    <li>!status - Shows if any matches are currently in play.</li>
    <li>!stats [nick] - Shows statistics for a specific user.</li>
    <li>!h - prints available commands.</li>
</ul>

<h3>In-Game Commands</h3>

<p>These are commands you can run while in KAG in a Gather game to utilize Gather features:</p>
<ul>
    <li>!ready - Type this when in WARMUP mode to say you're ready</li>
    <li>!unready - If you change your mind, this will un-ready you</li>
    <li>!veto - If in WARMUP mode, you can veto a map and skip to the next one by voting with this</li>
    <li>!teams - Show the current teams</li>
    <li>!score - See the current score</li>
</ul>

<h3>Useful guides</h3>
<ul>
<li><a href="https://forum.kag2d.com/threads/irc-channel.372/">IRC tutorial</a> by Kagesha</li>
<li><a href="http://www.quakenet.org/help/q/how-to-register-an-account-with-q">How to AUTH yourself on Quakenet</a></li>
<li><a href="https://forum.kag2d.com/threads/official-teamspeak-3-channel-for-kag.70/">TeamSpeak 3 channel info</a></li>
<li><a href="https://forum.kag2d.com/threads/kag-gather-matchmaking-on-irc.12153/">Official KAG Gather thread</a></li>
</ul>

<br />

<p><strong>Official KAG Gather Mumble server</strong>: mn2.upmania.eu:52329

</div>