
<div class="page">
<center><h2>Match Archives</h2></center>
<br />
<br />
<p>You may click on a match to view more detailed stats. </p>
<br />


<table class="stats matches">
<tbody>
{% for match in matches %}
<tr onclick="try { $.colorbox({href:'match/{{match.id}}?m=1'}); }catch (e) { console.log(e); } return false;">
    <td>#{{ match.id }}</td>
    <td style="width: 68%"><a><em>{{ match.created_at }}</em></a></td>
    <td>{{ match.server_name}}</td>
</tr>
{% endfor %}
</tbody>
</table>

<br />

{% for page in radius(currentPage,3,totalPages) %}
  <a href="matches.html?page={{ page }}">{{ page }}</a>
  {{ loop.last ? '' : ' | ' }}
{% endfor %}

</div>