
<div class="page">
<center><h2>Gather Rules</h2></center>

<h3>READ FIRST</h3>

<ul>
<li>Every player should have read KAG Gather Guide and Rules AT LEAST once.</li>
<li>This is a private project, meaning the owners can in theory do what they want.</li>
<li>We do this on our own spare time, we do not get paid. Instead, our work time is spent to provide you this service.</li>
<li>We are only human: we may make mistakes.</li>
<li>KAG Gather is and will be available for PREMIUM USERS only.</li>
</ul>

<h3>General</h3>
<ul>
<li>Respect other members, and especially the admins.</li>
<li>Do not whine or flame excessively.</li>
<li>Be nice and play fairly.</li>
<li>Use common sense.</li>
<li>Keep ALL IRC and in-game communication in English.</li>
</ul>

<h3>IRC Channel</h3>
<ul>
<li>Do not spam or flood the bot. Do not flood the IRC channel.</li>
<li>If you have added to a gather, do not leave the computer unattended. If the gather starts while you are away and you do not show up within 5 minutes, you will be punished.</li>
<li>The topic in #kag.gather may contain important information, read it every time you join.</li>
</ul>

<h3>Matches</h3>
<ul>
<li>Official KAG Gather rounds start always on map restart!</li>
<li>Hacking or attempts to hack as well as griefing intentional or not will result in a PERMA BAN. We share bans with all the other important places of KAG community.</li>
<li>A gather match is best of three rounds.</li>
<li>Spectators are allowed if the players in the gather are ok with it. Spectators are not to interfere in the game in any way.</li>
<li>Join the team for which you were assigned to by the Gather Bot. Switching teams is only allowed if ALL added players agree.</li>
<li>Ideally, your in-game nick should be the same as your IRC + forum nicks.</li>
<li>If an added player fails to show up to the server or leaves for no reason, get a sub.</li>
<li>Don't be lame. [This covers excessive whining, flaming, mocking, flag entombing etc.]</li>
<li>Bug abuse is not allowed and will be punished.</li>
<li>The best way to make sure someone is punished is a video/screenshots.</li>
<li>You are obligated to keep your ping at a minimum. Failing to do so will result in temporary ban.</li>
<li>You are obligated to play as best you can when playing KAG Gather! The idea of a gather is to play competitive matches in the style of a clanwar. Reserve your screwing around for public servers.</li>
<li>Do not leave the game until it is over.</li>
<li>No game modifications that give you an unfair advantage over the other players are allowed.</li>
<li>Everyone is able to restart map and nextmap. Don't abuse this command or you will be banned!</li>
<li>Flag entombing is prohibited.</li>
</ul>

<h3>Match Settings</h3>
<ul>
<li>Game type: 1 cap Premium CTF</li>
<li>Win condition: best of three (you need to win 2 of 3 matches)</li>
<li>Scale: 5 vs 5</li>
<li>Timer: 20 minutes</li>
<li>Maps: Arthurian League mapset generators (150x50; gold in the middle)</li>
<li>Starting resources: 250 Stone, 250 Wood</li>
<li>Teams: 1 Builder, 1 Archer, 3 Knights</li>
<li>Units: 25 Units per team = 5 units per person</li>
<li>Build time: 60 seconds</li>
<li>No switching between classes (Teams are to make up their own roles before each game.) (Although players are allowed to switch class ONLY after map but NOT during the match)</li>
<li>Glide on bomb jumps</li>
<li>Reduced wall damage on bomb jumps</li>
<li>Faster firing and gathering speed for archers</li>
<li>Bomb cost: 25c </li>
<li>Kegs available for gold and coins in siege shop</li>
<li>Premium lighting (darkness)</li>
</ul>

</div>

